*{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
}

// header kısmı //

#menu{
    height: 80px;
    padding: 0 20px;
}

#logo{
    float: left;
}

nav{
    float: right;
    line-height: 90px;
}
nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color: chartreuse;
}
nav a:hover{
    border-bottom: 2px solid chartreuse;
}
nav a:visited{
    text-decoration: none;
    margin-right: 25px;
    color: #000;
}
.ikon {
    margin-right: 7px;
    font-size: 16px;
}